<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <div class="container">
    <div class="columns">
      <div class="main column is-8">
        <%- body %>
      </div>
      <div class="sidebar column is-4">
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <% if (config.baidu_site_verification){ %>
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>  
  <% } %> 
</body>
</html>
